* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rebeccapurple;
}

/* Área do header */

.header {
  display: flex;
  flex-direction: row;
  background-color: #5ba584;
  height: 110px;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.header li {
  list-style-type: none;
}

.headerList a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.5s;
  font-size: large;
}

.headerList a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #4a4d4c;
}

.headerButton {
  background-color: white;
  color: #5ba584;
  font-size: medium;
  border-radius: 30px;
  border: solid white;
  height: 40px;
  width: 180px;
}

.headerButton:hover{
  transition: color 0.5s, background-color 0.5s;
  background-color: #5ba584;
  color: white;
  cursor: pointer;
}

.imagemTrabalheConosco {
  background-color: grey;
  width: 100%;
  height: 250px;
}

.sectionNewsletter {
  background-color: aqua;
}

/* Utilitários */

.ml-10 {
  margin-left: 10px;
}
