* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Área do header */

.header {
  display: flex;
  flex-direction: row;
  background-color: #5ba584;
  height: 110px;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.header li {
  list-style-type: none;
}

.headerList a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.5s;
  font-size: large;
}

.headerList a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #4a4d4c;
}

.headerButton {
  background-color: white;
  color: #5ba584;
  font-size: medium;
  border-radius: 30px;
  border: solid white;
  height: 40px;
  width: 180px;
}

.headerButton:hover {
  transition: color 0.5s, background-color 0.5s;
  background-color: #5ba584;
  color: white;
  cursor: pointer;
}

/* Área do Formulário */

.formConteudo {
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  justify-content: center;
}

.formConteudo section {
  width: 570px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #5ba584;
  border-radius: 30px;
}

.form input {
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border: none;
  border-radius: 10px;
}

.form h1 {
  color: white;
  text-align: center;
}
.form label {
  color: white;
}

.form ul {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
}

.botao {
  margin-top: 10px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.form button {
  background-color: #5ba584;
  color: white;
  width: 120px;
  height: 40px;
  border: solid 1px white;
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s;
}
.form button:hover {
  background-color: white;
  color: #5ba584;
  cursor: pointer;
}

.form h5 {
  color: white;
}

/* Área do carrocel */

.imagemTrabalheConosco {
  background-color: #dbdde3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}
.imagemTrabalheConosco h3 {
  font-weight: 400;
  font-size: 40px;
  color: #66aa8c;
}

.imagemTrabalheConosco h1 {
  font-size: 80px;
  color: #29333d;
}

/* Área do NewsLetter */

.sectionNewsletter {
  width: 100%;
  height: 390.5px;
  display: flex;
  flex-direction: row;
  background-color: #5ba584;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.fiquePorDentro {
  width: 500px;
  color: white;
}

.fiquePorDentro h3 {
  font-size: 40px;
}

.fiquePorDentro h1 {
  font-size: 60px;
  color: #29333d;
  padding-left: 50px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  color: white;
}

.newsletterImages {
  display: flex;
  gap: 50px;
}

.newsletter button {
  background-color: #5ba584;
  color: white;
  width: 120px;
  height: 40px;
  border: solid 1px white;
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s;
}
.newsletter button:hover {
  background-color: white;
  color: #5ba584;
  cursor: pointer;
}

.newsletterButton {
  width: 80%;
  display: flex;
  justify-content: end;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

.newsletterTerms {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.newsletterTerms input {
  width: 20px;
  height: 100%;
}

/* Footer */

footer {
  font-weight: 500;
  color: white;
  background-color: #29333d;
  padding: 30px;
}

.footerContent {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.footerContent p {
  text-align: justify;
}

.footerContent a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: color 1s;
}

.footerContent a:hover {
  color: #5ba584;
  text-decoration: none;
}

.footerDescCidade {
  display: flex;
  flex-direction: row;
  width: 700px;
  gap: 30px;
}

footer hr {
  border: 1px solid #5ba584;
}

footer p {
  text-align: center;
}

.footerNav {
  display: flex;
  flex-direction: column;
}

.footerSoluctions {
  display: flex;
  flex-direction: column;
}

.footerSoluctions a {
  font-weight: 400;
}

/* Utilitários */

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}
